body {
	background-color: white;
	color: black;
	font-family: helvetica;
	text-align: center;
}
img {
	opacity: 0.65;
	width: 100%;
}
nav {
	text-align: center;
	padding: 0px 20px 0px 20px;
	font-family:"Cinzel", serif;
	font-size: 40px;
	color: rgb(255, 227, 177);
	position: relative;
	bottom: 53px;
	float: center;
	text-decoration: none;
	height: 0;
}
.navitem {
	padding: 0px 10px;
}
a {
	text-decoration: none;
	text-align: center;
}
h2 {
	font-family:"Cinzel", serif;
}
p {
	  color: black;
	  font-family:"Cinzel", serif;
}
.column .featured {

}
.column {
	width: 31%;
	float: left;
	margin: auto;
	font-family: "Slabo 27px", serif;
	background: white;
	margin: 2px;
    height: 200px;
    border-left: 1px black solid;
    padding: 10px;
}
#featured {
	background-color: rgba(255, 255, 255, 0);
}
#footer {
	float: bottom;
	position: relative;
	clear: both;
}
<<<<<<< Updated upstream
=======
h1, h2, p {
	color: orange;
}
.footer {
	text-size: .75em;
}
>>>>>>> Stashed changes
