* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-image: url("http://i.imgur.com/dHgJAJK.jpg");
	height: 300px;
	float: top;
	background-repeat: no-repeat;
	background-position: 50% 0%;
	margin-right: 0 auto;
	background-size: 100%;
	background-color: white;
	color: black;
	font-family: helvetica;
	text-align: center;
	width: 100%;
}
h1 {
	padding-top: 3em;
	font-size: 5em;
	color: white;
}
img {
	opacity: 0.65;
	width: 100%;
}
#main-nav {
	text-align: center;
	padding: 1em 20px 0px 20px;
	font-family:"helvetica", serif;
	font-size: 40px;
	color: white;
	position: relative;
	bottom: 53px;
	float: center;
	text-decoration: none;
	height: 0;

}
.navitem {
	padding: 0px 10px;
}
a, #main-nav {
	text-decoration: none;
	text-align: center;
	font-family: sans-serif;
	padding-top: 1.5em;
	color: white;
}
#main-nav {
	margin-top: 8em;
	font-size: 1.5em;
}
hr {
	color: rgba(255, 255, 255, .3);
}
h2 {
	color: white;
	font-family: sans-serif;
	font-size: 1.5em;
	padding-bottom: 0.5em;
}
p {
	  color: black;
	  font-family:"Cinzel", serif;
	  font-weight: 5px;
}
.row {	
	margin: 2em 0em 5em 0em;

}
.feature-one {
	float: left;
	background-color: rgb(255, 232, 239);
}
.port-text {
	text-align: left;
	padding-top: 2em;
}
.port-paragraph {
	margin: .5em 0 3em 0;
	text-align: left;
}
.champagne {
	width: 25%;
	margin-right: 1.5em;
	float: left;
	padding-top: 1em;
}
.feature-two {
	float: right;
	clear: both;
}
.flowers{
	float: right;
	width: 25%;
	margin-left: 1.5em;
	padding-top: 2em;
	clear: both;
}
.flower-text {
	text-align: right;
	padding-top: 2em;
}
.flower-paragraph {
	text-align: right;

}
.column {
	width: 31%;
	float: left;
	margin: auto;
	font-family: "Slabo 27px", serif;
	color: white;
	margin: 2px;
    height: 200px;
    border-left: 1px black solid;
    padding: 10px;
}
#featured {
	background-color: rgba(255, 255, 255, 0);
}
.rings {
	height: 200px;
	width: 250px;
	position: relative;
	left: -580px;
	top: 30px;
}
.subfeature {
	text-align: top;
	margin-top: 1em;
	padding-top: 1em;
}
#footer {
	float: bottom;
	position: relative;
	clear: both;
}
<<<<<<< Updated upstream
=======
h1, h2, p {
	color: orange;
}
.footer {
	text-size: .75em;
}
>>>>>>> Stashed changes
