body {
	background-color: white;
	color: black;
	font-family: helvetica;
	text-align: center;
}
img {
	opacity: 0.65;
	width: 100%;
}
nav {
	text-align: center;
	font: helvetica;
	padding: 0px 10px 0px 10px;
}
.container {
	height: 100px;
	width: 500px;
	border: 2px dotted #f00;
	border-left: none;
	border-right: none;
	text-align: center;
}
.container div{
	display: inline-block;
	border-left: 2px dotted #ccc;
	vertical-align: middle;
	line-height: 100px;

}
.column-left {
	float: left;
	width: 32%;
	height: 100px;
}
.column-right {
	float: right;
	width: 32%;
	height: 100px;
	border-right: 2px dotted #ccc;
}
.column-center {
	display: inline-block;
	width: 33%;
	height: 100px;
}
#footer {
	float: bottom;
	position: relative;
}
<<<<<<< Updated upstream
=======
h1, h2, p {
	color: orange;
}
.footer {
	text-size: .75em;
}
>>>>>>> Stashed changes
