body {
	background-color: rgb(255, 235, 222);
	color: black;
	font-family: helvetica;
	text-align: center;
}
img {
	opacity: 0.65;
	width: 100%;
}
nav {
	text-align: center;
	font: helvetica;
	padding: 0px 10px 0px 10px;
	font-family: "Slabo 27px", serif;
	font-size: 40px;
	color: ;
}
p {
	  color: black;
}
.container {
	width: 33%;
	float: left;
	margin: auto;
	font-family: "Slabo 27px", serif;
	background: white;
  	background: linear-gradient(bottom, rgba(255, 205, 239, .5), rgba(255, 255, 255, .6));
  	background: -webkit-linear-gradient(bottom, rgba(255, 205, 239, .5), rgba(255, 255, 255, .6));;
  	background: -moz-linear-gradient(bottom, rgba(255, 205, 239, .5), rgba(255, 255, 255, .6));;
}
#featured {
	background-color: rgba(255, 255, 255, 0);
}
#footer {
	float: bottom;
	position: relative;
	clear: both;
}
<<<<<<< Updated upstream
=======
h1, h2, p {
	color: orange;
}
.footer {
	text-size: .75em;
}
>>>>>>> Stashed changes
